<section class="section about-section">
  <div class="container">
    <h2 class="title section-title visually-hidden">About me</h2>

    <p>I work with people all over the world to create impressive and functional websites that reflect each client's
      unique personality.</p>

    <picture class="about-image">
      <!-- Desktop 1440px+ -->
      <source media="(min-width: 1440px)" srcset="./img/about/lloyd-desk.webp 1x, ./img/about/lloyd-desk@2x.webp 2x"
        type="image/webp">
      <source media="(min-width: 1440px)" srcset="./img/about/lloyd-desk.jpg 1x, ./img/about/lloyd-desk@2x.jpg 2x"
        type="image/jpeg">

      <!-- Tablet 768px+ -->
      <source media="(min-width: 768px)" srcset="./img/about/lloyd-tab.webp 1x, ./img/about/lloyd-tab@2x.webp 2x"
        type="image/webp">
      <source media="(min-width: 768px)" srcset="./img/about/lloyd-tab.jpg 1x, ./img/about/lloyd-tab@2x.jpg 2x"
        type="image/jpeg">

      <!-- Mobile 375px+ -->
      <source media="(min-width: 375px)" srcset="./img/about/lloyd-mob.webp 1x, ./img/about/lloyd-mob@2x.webp 2x"
        type="image/webp">
      <source media="(min-width: 375px)" srcset="./img/about/lloyd-mob.jpg 1x, ./img/about/lloyd-mob@2x.jpg 2x"
        type="image/jpeg">

      <!-- Default image -->
      <img class="about-image" src="./img/about/lloyd-mob.jpg" srcset="./img/about/lloyd-mob@2x.jpg 2x"
        alt="Lloyd Jefferson Photo" width="250" height="350" loading="lazy">
    </picture>

    <ul class="about-list">
      <li>
        <h3 class="about-list-item-title">About me</h3>
        <p class="about-list-item-description">I am Lloyd Jefferson, a talented programmer with extensive expertise in
          software
          development. I have an understanding of different programming languages and technologies, always ready to
          improve my skills. I always follow the latest trends and look for unconventional, creative solutions to
          problems. I have a high level of analytical skills and am able to effectively solve even the most difficult
          tasks encountered on the way.</p>
        <p class="about-list-item-description">Able to work both independently and in a team. I can effectively
          cooperate
          with
          colleagues, exchanging ideas and finding optimal solutions. Professional maturity allows you to calmly cope
          with
          challenges and stressful situations, while maintaining a high quality of work. I am always looking for
          opportunities for self-improvement. I actively study new technologies and practices to stay abreast of the
          latest innovations. I have a strong understanding of various programming languages, frameworks and
          architectural
          concepts that allow me to create efficient and scalable software.</p>
      </li>
      <li>
        <h3 class="about-list-item-title">Role</h3>
        <p class="about-list-item-description">Frontend development</p>
        <p class="about-list-item-description">HeadlessCMS, Wordpress</p>
        <p class="about-list-item-description">Blender (enjoy)</p>
      </li>
      <li>
        <h3 class="about-list-item-title">Education</h3>
        <p class="about-list-item-description">2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</p>
        <p class="about-list-item-description">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New
          York</p>
        <p class="about-list-item-description">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
      </li>
    </ul>

    <ul class="skills-list">
      <li class="skills-list-item">HTML/CSS</li>
      <li class="skills-list-item">JavaScript</li>
      <li class="skills-list-item">React</li>
      <li class="skills-list-item">Node.js</li>
      <li class="skills-list-item">React Native</li>
      <li class="skills-list-item">Soft skills</li>
    </ul>
  </div>
</section>
