<section class="section section-covers">
  <div class="container-covers">
    <h2 class="covers-header visually-hidden">Covers</h2>
    <div class="covers-gallery">
      <ul class="covers-list">
        <li class="covers-item">
          <img
            srcset="
              ./img/covers/covers-powerpulse.webp    1x,
              ./img/covers/covers-powerpulse@2x.webp 2x
            "
            src="./img/covers/covers-powerpulse.webp"
            alt="Covers PowerPulse"
            width="544"
          />
        </li>
        <li class="covers-item">
          <img
            srcset="
              ./img/covers/covers-mimino.webp    1x,
              ./img/covers/covers-mimino@2x.webp 2x
            "
            src="./img/covers/covers-mimino.webp"
            alt="Covers Mimino"
            width="544"
          />
        </li>
        <li class="covers-item">
          <img
            srcset="
              ./img/covers/covers-clothes.webp    1x,
              ./img/covers/covers-clothes@2x.webp 2x
            "
            src="./img/covers/covers-clothes.webp"
            alt="Covers Clothes"
            width="544"
          />
        </li>
        <li class="covers-item">
          <img
            srcset="
              ./img/covers/covers-green-harvest.webp    1x,
              ./img/covers/covers-green-harvest@2x.webp 2x
            "
            src="./img/covers/covers-green-harvest.webp"
            alt="Covers Green Harvest"
            width="544"
          />
        </li>
        <li class="covers-item">
          <img
            srcset="
              ./img/covers/covers-wallet.webp    1x,
              ./img/covers/covers-wallet@2x.webp 2x
            "
            src="./img/covers/covers-wallet.webp"
            alt="Covers Wallet"
            width="544"
          />
        </li>
        <li class="covers-item">
          <img
            srcset="
              ./img/covers/covers-chego.webp    1x,
              ./img/covers/covers-chego@2x.webp 2x
            "
            src="./img/covers/covers-chego.webp"
            alt="Covers Chego"
            width="544"
          />
        </li>
        <li class="covers-item">
          <img
            srcset="
              ./img/covers/covers-energy-flow.webp    1x,
              ./img/covers/covers-energy-flow@2x.webp 2x
            "
            src="./img/covers/covers-energy-flow.webp"
            alt="Covers EnergyFlow"
            width="544"
          />
        </li>
        <li class="covers-item">
          <img
            srcset="
              ./img/covers/covers-fruitbox.webp    1x,
              ./img/covers/covers-fruitbox@2x.webp 2x
            "
            src="./img/covers/covers-fruitbox.webp"
            alt="Covers Fruitbox"
            width="544"
          />
        </li>
        <li class="covers-item">
          <img
            srcset="
              ./img/covers/covers-english.webp    1x,
              ./img/covers/covers-english@2x.webp 2x
            "
            src="./img/covers/covers-english.webp"
            alt="Covers English Excellence"
            width="544"
          />
        </li>
        <li class="covers-item">
          <img
            srcset="
              ./img/covers/covers-starlight.webp    1x,
              ./img/covers/covers-starlight@2x.webp 2x
            "
            src="./img/covers/covers-starlight.webp"
            alt="Covers Starlight"
            width="544"
          />
        </li>
        <li class="covers-item">
          <img
            srcset="
              ./img/covers/covers-green-harvest.webp    1x,
              ./img/covers/covers-green-harvest@2x.webp 2x
            "
            src="./img/covers/covers-green-harvest.webp"
            alt="Covers Green Harvest"
            width="544"
          />
        </li>
        <li class="covers-item">
          <img
            srcset="
              ./img/covers/covers-chego.webp    1x,
              ./img/covers/covers-chego@2x.webp 2x
            "
            src="./img/covers/covers-chego.webp"
            alt="Covers Chego"
            width="544"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
