<section class="faq">
    <h2 class="faq-h2">FAQ</h2>
    <div class="faq-content">
        <ul class="accordion faq-list" id="faqAccordion">
            <li class="faq-link">
                <div class="faq-item">
                    <span class="faq-title">What programming languages are most often used in your project?</span>
                    <button class="faq-btn">
                        <svg class="faq-icon" width="20" height="20">
                            <use href="../img/icons/icon-sprite.svg#icon-IconDown"></use>
                        </svg>
                    </button>
                </div>
                <div class="faq-panel">
                    <p>Typically, web development includes frontend (client-side) and backend (server-side) languages.</p>
                </div>
            </li>
            <li class="faq-link">
                <div class="faq-item">
                    <span class="faq-title">What are the deadlines for the project?</span>
                    <button class="faq-btn">
                        <svg class="faq-icon" width="20" height="20">
                            <use href="../img/icons/icon-sprite.svg#icon-IconDown"></use>
                        </svg>
                    </button>
                </div>
                <div class="faq-panel">
                    <p>The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining axact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
                </div>
            </li>
            <li class="faq-link">
               <div class="faq-item">
                <span class="faq-title">What payment methods do you accept?</span>
                <button class="faq-btn">
                    <svg class="faq-icon" width="20" height="20">
                        <use href="../img/icons/icon-sprite.svg#icon-IconDown"></use>
                    </svg>
                </button>
               </div>
                <div class="faq-panel">
                    <p>Payment through dredit and dedit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptjcurrencies such as Bitcoin, Ethereum and others.</p>
                </div>
            </li>
            <li class="faq-link">
                <div class="faq-item">
                    <span class="faq-title">How can I contact you?</span>
                    <button class="faq-btn">
                        <svg class="faq-icon" width="20" height="20">
                            <use href="../img/icons/icon-sprite.svg#icon-IconDown"></use>
                        </svg>
                    </button>
                </div>
                <div class="faq-panel">
                    <p>In the field of web development, there are various technologies and programming languages. Typically, yhis includes a combination of frontend (client side) and backend (server side) languages.</p>
                </div>
            </li>
            <li class="faq-link">
                <div class="faq-item"> 
                    <span class="faq-title">Do you provide advice or support?</span>
                    <button class="faq-btn">
                        <svg class="faq-icon" width="20" height="20">
                            <use href="../img/icons/icon-sprite.svg#icon-IconDown"></use>
                        </svg>
                    </button>
                </div>
                <div class="faq-panel">
                    <p>The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining axact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
                </div>
            </li>
            <li class="faq-link">
                <div class="faq-item">
                    <span class="faq-header">What does the process of developing a software product look like from idea to implementation?</span>
                    <button class="faq-btn">
                        <svg class="faq-icon" width="20" height="20">
                            <use href="../img/icons/icon-sprite.svg#icon-IconDown"></use>
                        </svg>
                    </button>
                </div>
                <div class="faq-panel">
                    <p>Payment through dredit and dedit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptjcurrencies such as Bitcoin, Ethereum and others.</p>
                </div>
            </li>
         </ul>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/accordion-js@3.3.5/dist/accordion.min.js"></script>
<script src="../js/faq.js"></script>
    