<section class="section-hero">
    <div class="container">
        <h1 class="hero-title">
            Hello. <br>
            I’m Fullstack developer 
            Lloyd Jefferson.
        </h1>
        <ul class="hero-soc-list">
          <li class="hero-soc-item">
            <a
              class="hero-soc-link"
              href="https://www.instagram.com/goitclub/"
              target="blank"
            >IG            
            </a>
          </li>
          <li class="hero-soc-item">
            <a
              class="hero-soc-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              FB
            </a>
          </li>
          <li class="hero-soc-item">
            <a
              class="hero-soc-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              YB
            </a>
          </li>
          <li class="hero-soc-item">
            <a
              class="hero-soc-link"
              href="https://meloncholic-san.github.io/project-TeamExtremeDeadline01/"
              target="_blank"
            >
              GH
            </a>
          </li>
          <li class="hero-soc-item">
            <a
              class="hero-soc-link"
              href="mailto:lloydjefferson@gmail.com"
              target="_blank"
            >
              lloydjefferson@gmail.com
            </a>
          </li>
        </ul>
      </div>
    </section>
    
</section>
