<section id="projects" class="section projects-section">
  <div class="container">
    <h2 class="h2-project">Projects</h2>
    <div class="all-div">
      <div class="unique-swiper-container">
        <ul class="unique-swiper-wrapper">
          <li class="unique-swiper-slide">
            <div class="div-list-p">
              <ul class="tags-panel">
                <li class="tag">#react</li>
                <li class="tag">#js</li>
                <li class="tag">#node js</li>
                <li class="tag">#git</li>
              </ul>
              <h4 class="p-project">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h4>
              <a class="bth-project" target="_blank" href="#" role="button"
                >See project</a
              >
            </div>
            <div class="project-pic">
              <picture>
                <source
                  srcset="
                    ./img/projects/image-1-desktop.webp    1x,
                    ./img/projects/image-1-desktop-2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/projects/image-1-desktop.webp    1x,
                    ./img/projects/image-1-desktop-2x.webp 2x
                  "
                  media="(min-width: 768px) and (max-width: 1439px)"
                />
                <source
                  srcset="
                    ./img/projects/img-1-1x.png 1x,
                    ./img/projects/img-1-2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  loading="lazy"
                  src="./img/img-1-1x.png"
                  srcset="
                    ./img/projects/img-1-1x.png 1x,
                    ./img/projects/img-1-2x.png 2x
                  "
                  alt="Project one"
                  class="img-project"
                />
              </picture>
            </div>
          </li>
          <li class="unique-swiper-slide">
            <div class="div-list-p">
              <ul class="tags-panel">
                <li class="tag">#react</li>
                <li class="tag">#js</li>
                <li class="tag">#node js</li>
                <li class="tag">#git</li>
              </ul>
              <h4 class="p-project">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h4>
              <a class="bth-project" target="_blank" href="#" role="button"
                >See project</a
              >
            </div>
            <div class="project-pic">
              <picture>
                <source
                  srcset="
                    ./img/projects/image-2-desktop.webp    1x,
                    ./img/projects/image-2-desktop-2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/projects/image-2-desktop.webp    1x,
                    ./img/projects/image-2-desktop-2x.webp 2x
                  "
                  media="(min-width: 768px) and (max-width: 1439px)"
                />
                <source
                  srcset="
                    ./img/projects/img-2-1x.png 1x,
                    ./img/projects/img-2-2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  loading="lazy"
                  src="./img/projects/img-2-1x.png"
                  srcset="
                    ./img/projects/img-2-1x.png 1x,
                    ./img/projects/img-2-2x.png 2x
                  "
                  alt="Project two"
                  class="img-project"
                />
              </picture>
            </div>
          </li>
          <li class="unique-swiper-slide">
            <div class="div-list-p">
              <ul class="tags-panel">
                <li class="tag">#react</li>
                <li class="tag">#js</li>
                <li class="tag">#node js</li>
                <li class="tag">#git</li>
              </ul>
              <h4 class="p-project">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h4>
              <a class="bth-project" target="_blank" href="#" role="button"
                >See project</a
              >
            </div>
            <div class="project-pic">
              <picture>
                <source
                  srcset="
                    ./img/projects/image-3-desktop.webp    1x,
                    ./img/projects/image-3-desktop-2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/projects/image-3-desktop.webp    1x,
                    ./img/projects/image-3-desktop-2x.webp 2x
                  "
                  media="(min-width: 768px) and (max-width: 1439px)"
                />
                <source
                  srcset="
                    ./img/projects/img-3-1x.png 1x,
                    ./img/projects/img-3-2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  loading="lazy"
                  src="./img/projects/img-3-1x.png"
                  srcset="
                    ./img/projects/img-3-1x.png 1x,
                    ./img/projects/img-3-2x.png 2x
                  "
                  alt="Project three"
                  class="img-project"
                />
              </picture>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <nav class="nav-bth">
      <button class="unique-swiper-button-prev" data-swiper-id="1">
        <svg width="25" height="24" class="svg-one">
          <use href="./img/icons/icon-sprite.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button class="unique-swiper-button-next" data-swiper-id="1">
        <svg width="25" height="24" class="svg-two">
          <use href="./img/icons/icon-sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </nav>
  </div>
</section>
