<section class="section projects-section" id="projects">
  <div class="container projects-container">
    <h2 class="projects-tittle">Projects</h2>
    <div class="swiper-projects-container">
      <ul class="projects-list swiper-wrapper">
        <li class="swiper-slide">
          <div class="projects-list-item">
            <div class="projects-list-item-first-part">
              <ul class="projects-list-item-tech-list">
                <li class="projects-list-item-tech-list-item">#react</li>
                <li class="projects-list-item-tech-list-item">#js</li>
                <li class="projects-list-item-tech-list-item">#node.js</li>
                <li class="projects-list-item-tech-list-item">#git</li>
              </ul>
              <p class="projects-list-item-tittle">
                Programming Across<br />Borders: Ideas,<br />Technologies,
                Innovations
              </p>
              <a
                class="projects-list-item-ref"
                href="https://meloncholic-san.github.io/project-TeamExtremeDeadline01/"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="projects-list-item-sec-part">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/projects/read_journey1x_desctop.png  1x,
                    ./img/projects/read_journey@2x_desctop.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/projects/read_journey1x_mobile.png  1x,
                    ./img/projects/read_journey@2x_mobile.png 2x
                  "
                />
                <img
                  src="./img/projects/read_journey1x_mobile.png"
                  alt="read journey"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="projects-list-item">
            <div class="projects-list-item-first-part">
              <ul class="projects-list-item-tech-list">
                <li class="projects-list-item-tech-list-item">#react</li>
                <li class="projects-list-item-tech-list-item">#js</li>
                <li class="projects-list-item-tech-list-item">#node.js</li>
                <li class="projects-list-item-tech-list-item">#git</li>
              </ul>
              <p class="projects-list-item-tittle">
                Programming Across<br />Borders: Ideas,<br />Technologies,
                Innovations
              </p>
              <a
                class="projects-list-item-ref"
                href="https://meloncholic-san.github.io/project-TeamExtremeDeadline01/"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="projects-list-item-sec-part">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/projects/petlove@2x_desctop.png 1x,
                    ./img/projects/petlove@2x_desctop.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/projects/petlove1x_mobile.png 1x,
                    ./img/projects/petlove@2x_mobile.png 2x
                  "
                />
                <img
                  src="./img/projects/petlove1x_mobile.png"
                  alt="read journey"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="projects-list-item">
            <div class="projects-list-item-first-part">
              <ul class="projects-list-item-tech-list">
                <li class="projects-list-item-tech-list-item">#react</li>
                <li class="projects-list-item-tech-list-item">#js</li>
                <li class="projects-list-item-tech-list-item">#node.js</li>
                <li class="projects-list-item-tech-list-item">#git</li>
              </ul>
              <p class="projects-list-item-tittle">
                Programming Across<br />Borders: Ideas,<br />Technologies,
                Innovations
              </p>
              <a
                class="projects-list-item-ref"
                href="https://meloncholic-san.github.io/project-TeamExtremeDeadline01/"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="projects-list-item-sec-part">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/projects/vocab_builder1x_desctop.png 1x,
                    ./img/projects/vocab_builder@2x_dectop.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/projects/vocab_builder1x_mobile.png  1x,
                    ./img/projects/vocab_builder@2x_mobile.png 2x
                  "
                />
                <img
                  src="./img/projects/vocab_builder@2x_mobile.png"
                  alt="read journey"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="projects-arrows">
      <button
        type="button"
        class="projects-swiper-button projects-swiper-prev-button"
      >
        <svg class="swiper-arrow-right" width="24" height="24">
          <use href="./img/icons/icon-sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
      <button
        type="button"
        class="projects-swiper-button projects-swiper-next-button"
      >
        <svg class="swiper-arrow-right" width="24" height="24">
          <use href="./img/icons/icon-sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
