<section class="reviews-section">
    <div class="container">

            <h2 class="reviews-header">Reviews</h2>



            <div class="reviews-swiper">


                <div class="reviews-swiper-wrapper">
                    <div class="reviews-swiper-slide">Slide 1</div>
                    <div class="reviews-swiper-slide">Slide 2</div>
                    <div class="reviews-swiper-slide">Slide 3</div>
                </div>
                

                <div class="reviews-swiper-button-prev"></div>
                <div class="reviews-swiper-button-next"></div>
                
            </div>

            


    </div>    
</section>
