<footer class="footer">
  <div class="container">
    <div class="logo-title-container">
      <picture>
        <source
          srcset="
            ./img/work-together-retina/footer-logo.webp    1x,
            ./img/work-together-retina/footer-logo@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/work-together-retina/footer-logo-mobile.webp    1x,
            ./img/work-together-retina/footer-logo-mobile@2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="img-logo"
          src="./img/work-together-retina/footer-logo.webp"
          alt="logo-jefferson"
          width="70"
          height="70"
        />
      </picture>
      <img
        class="img-logo"
        srcset="
          ./img/work-together-retina/logo-footer.webp    1x,
          ./img/work-together-retina/logo-footer@2x.webp 2x
        "
        alt="logo-jefferson"
        width="70"
        height="70"
        src="./img/work-together-retina/logo-footer.webp"
      />
      <h2 class="title-work-together">
        Let's <span class="span-accent">work</span>
        <div class="title-bottom">together</div>
      </h2>
    </div>
    <form class="footer-form">
      <label class="footer-form-label" for="your-email">
        <input
          class="footer-form-input"
          id="your-email"
          type="email"
          placeholder="clients@gmail.com"
          autocomplete="off"
          required
          name="your-email"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        />
      </label>
      <label class="footer-form-label" for="your-comments">
        <input
          class="footer-form-input"
          id="your-comments"
          type="text"
          placeholder="comments"
          autocomplete="off"
          required
          name="your-comments"
        />
      </label>
      <div class="footer-container-btn">
        <button class="footer-btn-send" type="submit" data-modal-open>
          Send
        </button>
      </div>
    </form>
    <address class="contacts">
      <ul class="footer-list-contacts">
        <li class="footer-item-contacts-mail">
          <a class="footer-link" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="footer-item-contacts-tel">
          <a class="footer-link" href="tel:+3801111111111"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
  <!-- modal menu -->
  <div class="footer-backdrop" data-modal>
    <div class="footer-modal">
      <span class="footer-close" data-modal-close>&times;</span>
      <div class="footer-modal-content-position">
        <h2 class="footer-modal-title">
          Thank you for your interest in cooperation!
        </h2>
        <p class="footer-modal-text">
          The manager will contact you shortly to discuss further details and
          opportunities for cooperation. Please stay in touch.
        </p>
      </div>
    </div>
  </div>
</footer>
