<footer class="footer">
  <div class="logo-title-container">
    <img
      class="img-logo"
      srcset="../img/webp/image.webp 1x, ../img/webp/image@2x.webp 2x"
      alt="logo-jefferson"
      width="70"
      height="70"
      src="../img/webp/image.webp"
    />
    <h2 class="title-work-together">
      Let's <span class="span-accent">work</span> <br />together
    </h2>
  </div>
  <form class="footer-form">
    <input type="email" />
    <input type="text" />
    <button class="footer-btn-send" type="submit">Send</button>
  </form>
  <div>
    <a href=""></a>
    <a href=""></a>
  </div>
  <div class="modal-window" id="modal-window">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Thank you for your interest in cooperation!</h2>
      <p>
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</footer>
