.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-section .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  padding: 64px 0;
}

.about-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.about-text-box {
  background-color: #242527;
  /* width: 343px; */
  height: 500px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 32px;
}

.about-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.about-description .highlight {
  color: #ED3B44;
}

.about-description .faded {
  color: rgba(250, 250, 250, 0.4);
}

.about-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {

  .about-text-box {
    padding: 64px;
  }

  .about-text-box,
  .about-image-box {
    width: 704px;
    height: 700px;
    /* padding: 64px; */
  }

  .about-description {
    font-size: 38px;
    line-height: 1.05;
  }
}

@media screen and (min-width: 1440px) {
  .about-intro {
    flex-direction: row;
  }
}


.about-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-list-item {
  position: relative;
}

.about-list-item::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: rgba(250, 250, 250, 0.2);
  margin-top: 16px;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.about-list-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  /* margin-top: 32px; */
}

.about-list-item-title {
  font-size: 16px;
  font-weight: 600;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
}

.about-list-content {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.about-list-item:nth-of-type(1) .about-list-content {
  gap: 32px;
}

.about-list-item:nth-of-type(2) .about-list-content,
.about-list-item:nth-of-type(3) .about-list-content {
  gap: 10px;
}


.about-list-item-description {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.03em;
}

.about-toggle-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.about-toggle-btn:active {
  background: transparent;
}

@media screen and (min-width: 768px) {
  .about-section .container {
    gap: 64px;
    padding: 64px 0;
  }
}

@media screen and (min-width: 1440px) {
  .about-section .container {
    gap: 96px;
    padding: 96px 0;
  }

  .about-list-item-description {
    margin-left: 50%;
  }
}

.skills-list {
  display: flex;
  overflow: hidden;
}

.skills-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  font-size: 16px;
  letter-spacing: -0.02em;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  flex-shrink: 0;
}

/* Перший елемент (червоний фон за замовчуванням) */
.skills-list-item:nth-of-type(1) {
  background-color: #ED3B44;
  border: none;
}


.skills-list-item:hover {
  background-color: #ED3B44;
  border: none;
}

@media screen and (min-width: 768px) {
  .skills-list-item {
    width: 200px;
    height: 200px;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1440px) {
  .skills-list {
    padding: 0 32px;
  }
}