
section, footer {
  width: 100%;
  display: flex;
  justify-content: center; 
}

.container{
  padding-left: 16px;
  padding-right: 16px;
}
/* Медіа запит для мобільних пристроїв від 320px до 374px */
@media screen and (max-width: 374px) {

  .container {
    width: 344px; 
  }

}

/* Медіа запит для мобільних пристроїв від 375px */
@media screen and (min-width: 375px) {
  .container {
    width: 344px; 
  }
}

/* Медіа запит для планшетів (від 768px) */
@media screen and (min-width: 768px) {

  .container {
    width: 704px; 
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Медіа запит для десктопів (від 1440px) */
@media screen and (min-width: 1440px) {

  .container {
    width: 1376px; 
    padding-left: 32px;
    padding-right: 32px;
  }

}
