
section {
  width: 100%; /* За замовчуванням ширина секції займає весь екран */
}

.container {
  margin: 0 auto; /* Центрування контейнера */
}

/* Медіа запит для мобільних пристроїв від 320px до 374px */
@media screen and (max-width: 374px) {
  section {
    width: 375px; 
    margin: 0 auto;
  }

  .container {
    width: 344px; 
  }

}

/* Медіа запит для мобільних пристроїв від 375px */
@media screen and (min-width: 375px) {
  section {
    width: 100%; 
  }

  .container {
    width: 344px; 
  }
}

/* Медіа запит для планшетів (від 768px) */
@media screen and (min-width: 768px) {
  section {
    width: 768px; 
    margin: 0 auto; 
  }

  .container {
    width: 704px; 
  }
}

/* Медіа запит для десктопів (від 1440px) */
@media screen and (min-width: 1440px) {
  section {
    width: 1440px; 
    margin: 0 auto; 
  }

  .container {
    width: 1376px; 
  }

}
