@keyframes pulse {
  0% { box-shadow: 0 0 0px rgba(224, 55, 63, 0.8); }
  50% { box-shadow: 0 0 10px rgba(224, 55, 63, 0.5); }
  100% { box-shadow: 0 0 0px rgba(224, 55, 63, 0.8); }
}
/* mobile version */
.header {
  position: absolute;
  padding: 32px 16px;
  width: 100%;
}

.header-container {
  width: 344px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.header-menu-img {
  width: 28px;
  height: 28px;
  transition: transform 0.7s ease-in-out, opacity 0.3s ease-in-out;
  cursor: pointer;

}
.header-menu-img:hover,
.header-menu-img:focus {
  outline: 2px solid #E0373F;
  animation: pulse 1s infinite;
}

.header-logo {
  display: flex;
  gap: 8px;
}

.header-logo-img {
  width: 80px;
  height: 80px;
}

/* HEADER MODAL WINDOW */

.header-modal {
  position: fixed; 
  width: 100vw; 
  height: 100vh; 
  background-image: url('../img/header/header-mobile-background.jpg');
  transform: translateY(-100%);
  transition: transform 0.6s ease-in-out;
  z-index: 100;
  top: 0;
  left: 0;
  min-width: 375px;
  min-height: 1200px;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  background-repeat: no-repeat;
  background-size: cover
}
  @media (min-width: 375px)  {
    .header-modal-wrapper {
      left: calc(50vw - 172px);
    }
  }
   


.header-modal-wrapper{
  position: absolute;
  width: 344px;
  padding-bottom: 64px;
  min-height: 100vh; ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-menu-close-img{
  width: 28px;
  height: 28px;
  align-self: flex-end;
  transition: transform 0.7s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  transform: scale(0) rotate(-180deg);
  pointer-events: none;
  cursor: pointer;
}


.header-menu-close-img:hover,
.header-menu-close-img:focus {
  outline: 2px solid #E0373F;
  animation: pulse 1s infinite;
}
.header-modal.active {
  transform: translateY(0);
}

.header-modal-menu-list {
  display: flex;
  flex-direction: column;
  width: 67px;
  height: 112px;
  gap: 12px;
}

.header-modal-menu-link {
  text-decoration: underline white;
  color: white;
  display: flex;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;

}

.header-modal-menu-link:focus,
.header-modal-menu-link:hover {
  color: #e0373f;
  text-decoration: underline #e0373f;
}


.header-menu-link {
  color: white;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration-skip-ink: none;
  color: #fafafa;
}

.header-menu-link:focus,
.header-menu-link:hover {
  color: #e0373f;
  text-decoration: underline #e0373f;
}

  .header-modal-btn-order {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;
    justify-self: flex-end;
    border-radius: 60px;
    padding: 14px 31px;
    width: 164px;
    height: 45px;
    border: none;
    background: #ed3b44;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-modal-btn-order:focus,
  .header-modal-btn-order:hover {
    background-color: #E0373F;
  }

/* HEADER MODAL WINDOW END */

/* tabletop version */


@media (min-width: 768px) { 
  .header {
    /* width: 768px; */
    padding: 32px;
    padding-bottom: 0;
  }

  .header-container {
    width: 704px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
  }
  .header-menu.header-hidden {
    display: block;
  }

  .header-menu-btn {
    width: 67px;
    display: block;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    user-select: none;
    text-decoration: underline white;
    font-family: "Inter Tight";
  }
    .header-menu-btn:hover,
    .header-menu-btn:focus {
    text-decoration: underline #e0373f;
    color: #e0373f;
    } 

    .header-menu-list {
      position: absolute;
      top: 70px;
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

  .header-btn-order.header-hidden {
    display: block;
    height: 55px;
    border-radius: 60px;
    padding-top: 18px;
    padding-right: 24px;
    padding-bottom: 18px;
    padding-left: 24px;
    background-color: #ED3B44;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    font-family: Inter Tight;
  }

  .header-btn-order.header-hidden:focus,
  .header-btn-order.header-hidden:hover {
    background-color: #E0373F;
  }


  .header-menu-img {
    display: none;
  }
}

/* desktop version */

@media (min-width: 1440px) { 
  /* .header {
    width: 1440px;
  } */
  
  .header-container {
    width: 1376px; 
  }
}



/* HIDDEN STYLES */

.header-icon-hidden {
  opacity: 0;
  transform: scale(0) rotate(180deg);
  pointer-events: none;
}
  .header-icon-visible {
  opacity: 1;
  transform: scale(1) rotate(0deg);
  pointer-events: all;
}

  .header-hidden {
    display: none;
  }
  .modal-hidden {
    transform: translateY(-100%);
  }
  body.overflow-hidden {
    overflow: hidden;
  }

  .menu-show {
    display: block;
  }

  .menu-animated {
    opacity: 1;
    transform: translateY(0);
  }