@media (max-width: 374px) {
  .header {
    position: absolute;
    width: 100%;
    padding: 32px 16px;
  }

  .header .header-container {
    display: flex;
    justify-content: space-between;
  }

  .header-logo {
    display: flex;
    gap: 8px;
  }

  .header-logo-img {
    width: 80px;
  }

  .header-menu-img {
    width: 28px;
    height: 28px;
  }

  .header-menu {
    display: none;
  }
  .header-menu.is-open {
    transform: translateX(0%);
  }

  .header-btn-order {
    display: none;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .header {
    position: absolute;
    width: 100%;
    padding: 32px 16px;
  }

  .header .header-container {
    display: flex;
    justify-content: space-between;
  }

  .header-logo {
    display: flex;
    gap: 8px;
  }

  .header-logo-img {
    width: 80px;
  }

  .header-menu-img {
    width: 28px;
    height: 28px;
  }

  .header-menu {
    display: none;
  }
  .header-menu.is-open {
    transform: translateX(0%);
  }

  .header-btn-order {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .header {
    position: absolute;
    width: 100%;
    padding: 32px 32px;
  }

  .header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .header-container {
    max-width: 768px;
    padding: 0 32px 96px;
  }

  .header-logo {
    display: flex;
    gap: 8px;
  }

  .header-logo-img {
    width: 80px;
  }

  .header-menu-img {
    display: none;
    pointer-events: none;
  }

  .header-btn-order:focus,
  .header-btn-order:hover {
    background-color: #e0373f;
  }
  .header-btn-order {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    color: #fff;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;
    justify-self: flex-end;
    border-radius: 60px;
    padding: 14px 31px;
    width: 164px;
    height: 45px;
    border: none;
    background: #ed3b44;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .heder-menu {
    position: relative;
    display: flex;
    text-decoration: underline;
    justify-content: center;
  }

  .header-menu-btn {
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 0;
    border: none;
    cursor: pointer;
    text-align: center;
    user-select: none;
    text-decoration: underline white;
    margin-bottom: 8px;
  }

  .heder-menu-btn:hover,
  .menu_trigger:focus {
    text-decoration: underline #e0373f;
    color: #e0373f;
  }

  .header-menu-list {
    position: absolute;
    display: none;
    top: 25px;
    width: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 1000;
    overflow: hidden;
  }

  .heder-menu-link {
    text-decoration: underline white;
    color: white;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
  }

  .heder-menu-link:focus,
  .heder-menu-link:hover {
    color: #e0373f;
    text-decoration: underline #e0373f;
  }
}
@media (min-width: 1440px) {
  .header {
    position: absolute;
    width: 100%;
    padding: 32px 32px;
  }

  .header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .header-container {
    max-width: 1440px;
    padding: 0 32px 164px;
  }

  .header-logo {
    display: flex;
    gap: 8px;
  }

  .header-logo-img {
    width: 80px;
  }

  .header-menu-img {
    width: 24px;
    height: 24px;
  }

  .header-menu {
    display: flex;
    text-decoration: underline;
  }

  .header-btn-order {
    display: flex;
  }

  .header-btn-order:focus,
  .header-btn-order:hover {
    background-color: #e0373f;
  }

  .header-btn-order {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    color: #fff;

    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;

    justify-self: flex-end;
    border-radius: 60px;
    padding: 14px 31px;
    width: 164px;
    height: 45px;
    border: none;
    background: #ed3b44;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .header-menu-btn {
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 0;
    border: none;
    cursor: pointer;
    text-align: center;
    user-select: none;
    text-decoration: underline white;
    margin-bottom: 8px;
  }

  .header-menu-btn:hover,
  .header-menu-btn:focus {
    text-decoration: underline #e0373f;
    color: #e0373f;
  }

  .header-menu-list {
    position: absolute;
    display: none;
    top: 25px;
    width: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 1000;
    overflow: hidden;
  }

  .header-menu-link {
    text-decoration: underline white;
    color: white;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
  }

  .header-menu-link:focus,
  .header-menu-link:hover {
    color: #e0373f;
    text-decoration: underline #e0373f;
  }
}
