.projects-section {
    background-color: #1c1d20;
}

.projects-tittle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.swiper-projects-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;
    display: block;
}

.projects-list {
    margin-bottom: 32px;
}

.projects-list-item {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    overflow: hidden;
}

.projects-list-item-first-part {
    padding: 32px;
    background-color: #fafafa;
}

.projects-list-item-tech-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 6px;
    margin-bottom: 96px;
}

.projects-list-item-tech-list-item {
    border: 1px solid rgba(28, 29, 32, 0.2);
    border-radius: 60px;
    padding: 13px 18px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #1c1d20;
}

.projects-list-item-tittle {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: #1c1d20;
    margin-bottom: 32px;
}

.projects-list-item-ref {
    display: inline-block;
    border-radius: 60px;
    padding: 13px 32px;
    max-width: 141px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    background-color: #ed3b44;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-item-ref:hover,
.projects-list-item-ref:focus {
    background-color: #e0373f;
}

.projects-list-item-sec-part {
    padding: 100px 16px;
    background-color: #242527;
}

.projects-container .projects-arrows {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    margin-top: 0;
}

.projects-swiper-button,
.projects-swiper-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    padding: 14px;
    width: 52px;
    height: 52px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-swiper-prev-button {
    transform: rotate(-180deg);
}

.projects-swiper-button:disabled,
.projects-swiper-button:disabled {
    cursor: auto;
    border-color: rgba(250, 250, 250, 0.2);
}

.swiper-arrow-right {
    fill: transparent;
    stroke-width: 2px;
    stroke: #fafafa;
    width: 24px;
    height: 24px;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-swiper-button:disabled .swiper-arrow-right {
    stroke: #3b3b3b;
}

@media screen and (min-width: 768px) {
    .projects-list {
        margin-bottom: 64px;
    }
    .projects-list-item-first-part {
        padding: 64px;
    }

    .projects-list-item-tech-list {
        margin-bottom: 164px;
    }

    .projects-list-item-tittle {
        font-weight: 500;
        font-size: 44px;
        line-height: 1;
        letter-spacing: -0.03em;
        min-width: 494px;
    }

    .projects-list-item-ref {
        padding: 18px 50px;
        min-width: 177px;
    }

    .projects-list-item-sec-part {
        padding: 120px 45px;
    }

    .projects-swiper-button,
    .projects-swiper-button {
        padding: 18px;
        width: 68px;
        height: 68px;
    }

    .swiper-arrow-right {
        width: 32px;
        height: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .projects-list-item {
        flex-direction: row;
        justify-content: space-between;

    }
.projects-list-item-ref{
    height: 55px;
}
    .projects-list-item-tech-list {
        margin-bottom: 223px;
    }

    .projects-list-item-first-part {
        padding-right: 130px;
    }

    .projects-list-item-sec-part {
        padding: 120px 37px;
    }
}