.reviews-section {
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .reviews-section {
    margin-bottom: 96px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-section {
    margin-bottom: 164px;
  }
}

.reviews-header {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -2%;
  color: #FAFAFA66;
  margin-bottom: 32px;
}


.review-avatar {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.review-avatar-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -2%;
  margin-bottom: 8px;
}

.review-review {
  line-height: 24px;
  letter-spacing: -2%;
  color: #FAFAFA99;
}


.reviews-swiper {
    width: 100%;
    overflow: hidden; 
    position: relative;
}

.reviews-swiper-wrapper {
    display: flex; 
    transition: transform 0.3s ease-in-out; 
    will-change: transform;
    width: 100%;
  }
  
  .reviews-swiper-slide {
    flex-shrink: 0; 
    width: 344px;
    border-radius: 20px;
    padding: 32px 24px;
    border-width: 1px;
    border: 1px solid #FAFAFA33;

  }
  

.reviews-swiper-nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


[data-swiper-id="2"].swiper-button-prev,
[data-swiper-id="2"].swiper-button-next 
 {

    position: static ;
    border: 1px solid #FAFAFA80;
    border-radius: 60px;
    padding: 18px;
    width: 68px;
    height: 68px;
    margin-top: 32px;
    background-color: transparent;

  }

[data-swiper-id="2"].swiper-button-prev:hover,
[data-swiper-id="2"].swiper-button-next:hover
{
  /* outline: 1px solid #E0373F; */
  border-color: E0373F;
  animation: pulse 1s infinite;
}
[data-swiper-id="2"].swiper-button-prev:focus,
[data-swiper-id="2"].swiper-button-next:focus 
{
  /* outline: 1px solid #E0373F; */
  animation: pulse 1s infinite;
  border-color: E0373F;
}
[data-swiper-id="2"].swiper-button-prev:active,
[data-swiper-id="2"].swiper-button-next:active
{
  /* outline: 1px solid #E0373F; */
  animation: pulse 1s infinite;
  border-color: E0373F;
}

/* [data-swiper-id="2"].swiper-button-prev.swiper-button-disabled:hover,
[data-swiper-id="2"].swiper-button-prev.swiper-button-disabled:focus,
[data-swiper-id="2"].swiper-button-prev.swiper-button-disabled:active, {
} */






  [data-swiper-id="2"].swiper-button-prev::after,
  [data-swiper-id="2"].swiper-button-next::after {
      display: none;
  }

.review-swiper-prev-icon,
.review-swiper-next-icon {
    width: 32px;  
    height: 32px; 
    fill: currentColor; 
    z-index: 1000; 
    fill: white;
    display: block;
    position: absolute;
}


body .swiper-button-prev svg,  
body .swiper-button-next svg {  
  width: 32px !important;  
  height: 32px !important;  
  object-fit: contain !important;  
  background-color: transparent !important;  
}
