.footer {
  min-width: 375px;
  background-color: #1c1d20;
  background-image: url(../img/work-together-retina/bg-glass-effect-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 25% 100%;
  background-position: right bottom;
  color: #fff;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url(../img/work-together-retina/bg-glass-effect-mobile@2x.jpg);
  }
}

.logo-title-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.title-work-together {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.span-accent {
  color: #ed3b44;
}

.title-bottom {
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
  margin-left: -52px;
}

.img-logo {
  object-fit: cover;
  border-radius: 12px;
  width: 44px;
  height: 44px;
}

.footer-form {
  margin-top: 63px;
}

.footer-form-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: #fff;
  width: 343px;
  height: 44px;
  padding-left: 0;
  padding-bottom: 20px;
  margin-bottom: 32px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:hover,
.footer-form-input:focus,
.footer-form-input:active {
  border-bottom: 1px solid #ed3b44;
  box-shadow: 0px 10px 8px #ed3b44;
}

.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  background-color: transparent;
}

.footer-btn-send {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: none;
  background-color: #ed3b44;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-send:hover,
.footer-btn-send:focus,
.footer-btn-send:active {
  background-color: #e0373f;
  box-shadow: 1px 1px 10px 1px #ed3b44;
}

.contacts {
  margin-top: 64px;
}

.footer-list-contacts {
  display: flex;
  gap: 4px;
}

.footer-link {
  letter-spacing: -0.02em;
  font-size: 13px;
  font-style: normal;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  border-color: #fafafa;
  box-shadow: 1px 1px 10px 1px #ed3b44;
  background-color: #e0373f;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
    background-image: url(../img/work-together-retina/bg-glass-effect-tabl.jpg);
  }

  @media screen and (max-width: 1439px) and (min-resolution: 192dpi) {
    .footer {
      background-image: url(../img/work-together-retina/bg-glass-effect-tabl@2x.jpg);
    }
  }

  .logo-title-container {
    gap: 20px;
  }

  .title-work-together {
    font-size: 64px;
  }

  .title-bottom {
    margin-top: 10px;
    margin-left: -91px;
  }

  .img-logo {
    border-radius: 24px;
    width: 70px;
    height: 70px;
  }

  .footer-form {
    margin-top: 64px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 32px;
  }

  .footer-form-input {
    max-width: 245px;
  }

  .footer-btn-send {
    width: 150px;
    height: 150px;
  }

  .contacts {
    margin-top: 18px;
  }

  .footer-list-contacts {
    gap: 8px;
  }

  .footer-link {
    font-size: 16px;
    padding: 18px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 80px 196px 169px;
    background-image: url(../img/work-together-retina/bg-glass-effect-desc.jpg);
  }

  @media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .footer {
      background-image: url(../img/work-together-retina/bg-glass-effect-desc@2x.jpg);
    }
  }

  /* .container {
      padding: 80px 196px 169px;
    } */

  .footer-form-input {
    max-width: 390px;
  }

  .footer-btn-send {
    margin-left: 54px;
  }
}

/* modal menu */
.footer-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 16, 0.6);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-backdrop.is-open {
  opacity: 1;
  /* display: flex; */
  visibility: visible;
  pointer-events: auto;
}

.footer-modal {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  min-width: 343px;
  min-height: 276px;
  overflow: auto;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  background-color: #1c1d20;
  padding: 64px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
}

.footer-backdrop:not(.is-open) .footer-modal {
  transform: translate(-50%, -100%);
}

.footer-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke-width: 2px;
  color: #fafafa;
  padding: 0;
  line-height: 0;
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-close:hover,
.footer-close:focus {
  color: #ed3b44;
}

.footer-modal-content-position {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  width: 279px;
  height: 148px;
}

.footer-modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
}

.footer-modal-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}

/* Анімація для успішного відправлення */
@keyframes successAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Анімація для помилки */
@keyframes errorAnimation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.success-message {
  animation: successAnimation 0.5s ease-out forwards;
  background-color: #ff6f61; 
  color: white;
}

.error-message {
  animation: errorAnimation 0.5s ease-out forwards;
  background-color: #9b111e; 
  color: white;
}

@media screen and (min-width: 768px) {
  .footer-modal {
    min-width: 492px;
    min-height: 246px;
    padding: 64px;
  }

  .footer-modal-content-position {
    width: 364px;
    height: 118px;
  }
}
/* modal menu end */
